* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Murtel Sans', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    /* min-height: 99vh; */
    position: relative;
}

.main .box {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.922) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.894) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94vw;
    margin: auto;
    padding: 1.5rem 3rem;
}

.main nav span img {
    width: 138px;
    position: relative;
    z-index: 10;
}

.main nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main nav div button {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    margin: 0 10px;
}

.main nav>div> :first-child {
    border: 1px solid rgba(245, 245, 245, 0.645);
    border-radius: 5px;
    padding: 5px 11px;
    text-align: center;
}

.lang {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.main nav>div> :nth-child(2) {
    background-color: red;
    color: white;
    padding: 5px 11px;
    text-align: center;
    border: 1px solid rgba(23, 22, 22, 0.645);
    border-radius: 5px;
}

.hero {
    height: 38rem;
    padding: 6.5rem;
    margin: 0 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    text-align: center;
}

.hero> :first-child {
    font-size: 44px;
    font-weight: 900;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
}

.hero div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    z-index: 10;
}

.hero div input {
    line-height: 3;
    background: black;
    border: 1px solid rgba(239, 241, 242, 0.753);
    border-radius: 5px;
    color: white;
    width: max(30vw, 300px);
    padding: 5px;
}

.hero div button {
    background-color: red;
    color: white;
    padding: 5px 25px;
    text-align: center;
    border: 1px solid rgba(23, 22, 22, 0.645);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    height: 50px;
}

.end-line {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    background-color: rgb(53, 52, 52);
}









.section2 {
    position: relative;
    min-height: auto;
    padding: 4.5rem 0;
}

.section2 .obj2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .obj2 .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.section2 .obj2 .title h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.section2 .obj2 .title p {
    font-size: 1.5rem;
    text-align: left;
}

.section2 .obj2 .title {
    color: white;
    width: 40vw;
    text-align: center;
}

.section2 .obj2 .bg-img {
    width: 40vw;
    position: relative;
}

.section2 .obj2 .bg-img .rect {
    width: 22vw;
    /* height: 84px; */
    border: 1px solid rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    background-color: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 70%;
    left: 20%;
}

.section2 .obj2 .bg-img .rect .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
    color: white;
    flex-direction: column;
}

.section2 .obj2 .bg-img .rect .text h1 {
    font-size: 14px;
    font-weight: 300;
}

.section2 .obj2 .bg-img .rect .text p {
    font-size: 12px;
    font-weight: 100;
    color: #0071eb;
}

.section2 .obj2 .bg-img> .rect> :last-child {
    width: 8vw;
}

.section2 .obj2 .bg-img> .rect> img {
    width: 6vw;
    height: 8vw;
}

.section2 .obj2 .bg-img> img {
    width: 38vw;
    margin: auto;
}

.section2 .obj2 .bg-img video {
    position: absolute;
    width: 28vw;
    top: 20%;
    right: 18.2%;
    z-index: -1;
}









.section3 {
    position: relative;
    min-height: auto;
    padding: 4.5rem 0;
}

.section3 .obj3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 .obj3 .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.section3 .obj3 .title h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.section3 .obj3 .title p {
    font-size: 1.5rem;
    text-align: left;
}

.section3 .obj3 .title {
    color: white;
    width: 40vw;
    text-align: center;
}

.section3 .obj3 .bg-img {
    width: 40vw;
    position: relative;
}

.section3 .obj3 .bg-img img {
    position: relative;
    width: 38vw;
    margin: auto;
}

.section3 .obj3 .bg-img video {
    position: absolute;
    width: 23.2vw;
    top: 10%;
    right: 24%;
    z-index: -1;
}





.faq {
    position: relative;
    min-height: auto;
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.faq h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.faq .que {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.faq .que button {
    padding: 1.5rem;
    width: 80vw;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.faq .que button span {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
}

.faq .que button svg {
    color: white;
}

.faq .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 5vw;
}

.faq .info span {
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 2rem auto;
}

.faq .info .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq .info .detail input {
    line-height: 3;
    background: black;
    border: 1px solid rgba(239, 241, 242, 0.753);
    border-radius: 5px;
    color: white;
    width: 27rem;
    padding: 5px;
    margin-right: 1rem;
}

.faq .info .detail button {
    background-color: red;
    color: white;
    padding: 5px 25px;
    text-align: center;
    border: 1px solid rgba(23, 22, 22, 0.645);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    height: 50px;
}


footer {
    position: relative;
    min-height: auto;
    padding: 4.5rem 10vw;
}

footer .foot {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

footer .foot a {
    color: rgba(255, 255, 255, 0.7);
}

footer .foot .p1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}

footer .foot .p2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.p3 button {
    border: 1px solid rgba(245, 245, 245, 0.645);
    border-radius: 5px;
    padding: 5px 11px;
    text-align: center;
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.p4 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}















@media screen and (max-width: 1200px) {
    .main nav {
        width: 98vw;
        padding: 1.5rem 2rem;
    }

    .hero {
        padding: 6.5rem 2rem;
        margin: 0 4vw;
    }

    .section2 .obj2 .title {
        width: 48vw;
    }

    .section2 .obj2 .bg-img {
        width: 48vw;
    }

    .section2 .obj2 .bg-img img {
        width: 46vw;
    }

    .section2 .obj2 .bg-img video {
        width: 34vw;
        top: 20%;
        right: 17.2%;
    }

    .section3 .obj3 .title {
        width: 48vw;
    }

    .section3 .obj3 .bg-img {
        width: 48vw;
    }

    .section3 .obj3 .bg-img img {
        width: 46vw;
    }

    .section3 .obj3 .bg-img video {
        width: 28vw;
        top: 11%;
        right: 23.2%;
    }

    .section2 .obj2 .bg-img .rect { 
        top: 70%;
        left: 22%;
        width: 25vw;
    }


    .faq .que button {
        width: 92vw;
    }



    footer {
        padding: 4.5rem 5vw;
    }

    footer .foot .p2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 960px) {
    .main nav {
        padding: 1.5rem 0.5rem;
    }

    .hero {
        height: auto;
    }

    .hero> :first-child {
        font-size: 35px;
        font-weight: 700;
    }

    .hero> :nth-child(2) {
        font-size: 20px;
        font-weight: 400;
    }

    .hero> :nth-child(3) {
        font-size: 17px;
        font-weight: 400;
    }

    .section2 .obj2 {
        flex-direction: column;
        gap: 15px;
    }

    .section2 .reverse {
        flex-direction: column-reverse;
    }

    .section2 .obj2 .title {
        width: 80%;
        align-items: center;
    }

    .section2 .obj2 .title h1 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }

    .section2 .obj2 .title p {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .section2 .obj2 .bg-img {
        width: 90vw;
        text-align: center;
    }

    .section2 .obj2 .bg-img img {
        width: 72vw;
    }

    .section2 .obj2 .bg-img video {
        width: 53vw;
        top: 21%;
        right: 21.2%;
    }

    .section2 .obj2 .bg-img .rect {
        top: 70%;
        left: 29%;
        width: 38vw;
    }

    .section2 .obj2 .bg-img> .rect> img {
        width: 9vw;
        height: 14vw;
    }

    .section2 .obj2 .bg-img> .rect> :last-child {
        width: 14vw;
    }


    .section3 .obj3 {
        flex-direction: column;
        gap: 15px;
    }

    .section3 .obj3 .title {
        width: 80%;
        align-items: center;
    }

    .section3 .obj3 .title h1 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }

    .section3 .obj3 .title p {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .section3 .obj3 .bg-img {
        width: 90vw;
        text-align: center;
    }

    .section3 .obj3 .bg-img img {
        width: 72vw;
    }

    .section3 .obj3 .bg-img video {
        width: 45vw;
        top: 9%;
        right: 25.2%;
    }


    .faq h1 {
        font-size: 35px;
        font-weight: 700;
    }

    .faq .que button span {
        font-size: 20px;
        font-weight: 400;
    }

    .faq .que button svg {
        width: 30px;
    }

    .faq .info .detail input {
        width: 45vw;
    }
}


@media screen and (max-width: 640px) {
    .hero {
        padding: 4rem 0;
    }

    .hero div {
        flex-direction: column;
    }

    .hero div button {
        font-size: 18px;
    }

    .main nav div span {
        display: none;
    }

    .lang {
        width: 38px;
    }

    .section2 .obj2 .bg-img .rect {
        top: 70%;
        left: 25%;
        width: 43vw;
    }

    .faq .info .detail {
        flex-direction: column;
        gap: 10px;
    }

    .faq .info .detail input {
        width: 70vw;
    }

    .faq .info .detail button {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .hero div input {
        width: 70vw;
    }

    .main nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .section2 .obj2 .bg-img .rect {
        top: 70%;
        left: 17%;
        width: 53vw;
    }
}