* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* Header design start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 9vw;
}

.right ul {
  display: flex;
  justify-content: space-around;
  gap: 34px;
}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.right ul li svg {
  margin: 6px 0 0 6px;
}

.logo img {
  width: 165px;
}

.icon {
  display: none;
}

/* Header design end */

/* Body design start */

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 5vw;
}

.detail h2 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 400;
  text-align: center;
}

.detail p {
  font-size: 24px;
  margin: 20px 7vw;
  text-align: center;
  line-height: 30px;
  padding: 2x 7vw;
}

.detail a {
  text-decoration: none;
  color: white;
  background-color: #00b6d1;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.detail a:hover {
  background-color: #059cb3;
}

.instruction {
  display: flex;
  align-items: center;
  margin: 80px 18vw;
}

.instruction .logo {
  width: 45px;
  height: 45px;
  border-radius: 10%;
  background-color: rgb(231 231 36);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.instruction p {
  display: flex;
  margin: 0 30px;
  text-align: center;
  align-items: end;
}

.instruction p b {
  margin-right: 6px;
  font-weight: 400;
  font-size: 24px;
}

.container {
  display: grid;
  width: 65%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.box h3 {
  text-align: center;
  padding: 30px 10px;
}

.box ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box ul li {
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
}

.box ul li:hover {
  background-color: #8ed78e;
}

.box ul li:first-child {
  background-color: #00b6d1;
}

.box ul li:first-child:hover {
  background-color: #059cb3;
}

.box ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 74%;
  }
}

@media screen and (max-width: 1070px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .box ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 985px) {
  .container {
    grid-template-columns: 1fr;
  }

  .box ul {
    flex-direction: row;
  }

  .right {
    display: none;
  }

  .icon {
    display: block;
    color: black;
    padding-bottom: 20px;
  }

  .responsive {
    display: block;
    /* position: relative;  */
  }

  .responsive ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 5vw;
    right: 0;
    top: 75px;
    padding: 5vw;
    background-color: #f8f9f9;
    width: 90vw;
    border-top: 3px solid #2ea3f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: open 1s ease-in-out 1 alternate;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .responsive ul li {
    justify-content: space-between;
    margin: 0 10px;
    padding: 0 10px;
  }

  .detail h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  .box ul {
    flex-direction: column;
  }
}
